@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0A0A0A;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for the dark theme */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.system-ui {
  font-family: system-ui, -apple-system, sans-serif;
}
